header,
section,
footer {
  display: block;
}
html {
  margin: 0 auto;
  max-width: 750px;
  background: #f5f5f5;
  font-size: 50px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
li,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PingFang SC", Helvetica, Arial, "Microsoft YaHei";
  color: #444;
}
body * {
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
  border: 0;
}
h1,
h2,
h3,
h4 {
  line-height: 100%;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*取消轻按时高亮*/
}
/*input,*/
button {
  -webkit-appearance: none;
  border-radius: 0;
  /*去苹果圆角*/
}
a,
input,
textarea,
select,
option,
button {
  outline: 0;
  /*点击时虚线边框*/
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff;
  /*自动填充背景色*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.text-c {
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-nowrap-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-nowrap-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_677690_1adz8am6p2s.ttf') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.icon-unfold:before {
  content: "\e661";
}
.icon-msnui-more:before {
  content: "\e679";
}
.icon-jiantou:before {
  content: "\e6a2";
}
.icon-oclose:before {
  content: "\e678";
}
.icon-pinglun:before {
  content: "\e638";
}
.icon-jia1:before {
  content: "\e677";
}
.icon-loading:before {
  content: "\e61c";
}
.icon-guanbi:before {
  content: "\e7b7";
}
.icon-pingjia:before {
  content: "\e69e";
}
.icon-close:before {
  content: "\e6e9";
}
.icon-favorite_fill:before {
  content: "\e6ea";
}
.icon-favorite:before {
  content: "\e6eb";
}
.icon-coordinates_fill:before {
  content: "\e6ec";
}
.icon-dianzan_fill:before {
  content: "\e708";
}
.icon-dianzan:before {
  content: "\e709";
  font-weight: 300;
}
.icon-down:before {
  content: "\e8d8";
}
.icon-shoucang3:before {
  content: "\e60c";
}
.icon-shoucang:before {
  content: "\e600";
}
.icon-right:before {
  content: "\e8d9";
}
.icon-instructio:before {
  content: "\e601";
}
.icon-project:before {
  content: "\e602";
}
.icon-warning:before {
  content: "\e603";
}
.icon-group:before {
  content: "\e604";
}
.icon-incognito:before {
  content: "\e605";
}
.icon-gouxuan:before {
  content: "\e6c1";
}
.icon-gaunzhu:before {
  content: "\e606";
}
.icon-kefu:before {
  content: "\e607";
}
.icon-liwu:before {
  content: "\e608";
}
.icon-on {
  color: #52c2c6;
}
.icon-dianzan_fill.icon-on {
  color: red;
}
/*
 * 消息提示
 */
#message {
  position: fixed;
  bottom: -2rem;
  z-index: 1000;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  opacity: 0.1;
}
#message span {
  display: inline-block;
  padding: 0.4rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
}
#message.show {
  bottom: 2rem;
  opacity: 1;
}
/*
 * 头部
 */
.bui-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  clear: both;
  height: 1.6rem;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
  border-bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bui-bar-nav {
  top: 0;
  -webkit-box-shadow: 0 1px 6px #ccc;
  box-shadow: 0 1px 6px #ccc;
}
.bui-bar-nav .bui-title {
  line-height: 1.6rem;
  font-size: 0.72rem;
  font-weight: 500;
  color: #222;
  text-align: center;
  white-space: nowrap;
}
/*
 * 主体
 */
.bui-bar-nav ~ .bui-main {
  margin-top: 1.7rem;
}
.bui-main {
  width: 100%;
  min-height: 2rem;
}
/*
 * 底部
 */
footer {
  margin: 0.5rem 0;
  clear: both;
  line-height: 0.72rem;
  font-size: 0.48rem;
  color: #999;
  text-align: center;
}
/*
 * 图文表格
 */
.bui-box {
  margin-bottom: 0.5rem;
  background: #fff;
}
.bui-box .hd {
  padding: 0 0.5rem;
  height: 1.6rem;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  clear: both;
}
.bui-box .hd .tit {
  float: left;
  position: relative;
  line-height: 1.6rem;
  font-size: 0.72rem;
  color: #222;
  font-weight: normal;
}
.bui-box .hd .tit:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.5rem;
  width: 0;
  border-left: 0.08rem solid #fa7d3c;
}
.bui-table-view {
  padding: 0.5rem 0 0.2rem 0.5rem;
  overflow: hidden;
}
.bui-table-view .table-item {
  float: left;
  margin: 0 0.2rem 0.5rem 0;
  width: 6.9rem;
}
.bui-table-view .table-item img {
  display: block;
  width: 100%;
  height: 4.8rem;
  margin-bottom: 0.1rem;
}
.bui-table-view .table-item .title {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.64rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bui-table-view .table-item .desc {
  height: 1.6rem;
  line-height: 0.8rem;
  font-size: 0.48rem;
  color: #999;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
